<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity Extraction</title>
    <link rel="stylesheet" href="static/style.css">
    <script>
      
    </script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="static/img/WVI.png" alt="Logo">
        </div>
        <div class="menu-btn">
            <!-- <button>Menu</button>
            <a href="/download_excel" class="button">Download Excel</a>
            <a href="/download_json" class="button">Download Json</a> -->
        </div>
    </nav>
    <h1 style="margin-top: -10px;text-align: center;color: white;font-size:xx-large;">Invoice Entity Extractor</h1>
    <div class="file-upload" style="margin-left: 180px;margin-top: -10px;">
      <form action="/process_invoice" method="post" enctype="multipart/form-data">
        <label for="fileInput">Browse File</label>
        <input type="file" name="file" id="fileInput" accept=".pdf, .jpg, .jpeg, .png">
        <button class="button" type="submit">upload</button>
        <a href="/process_invoice" class="button" style="margin-left: 140px;">Extract</a>
        <a href="/download_excel" class="button" style="margin-left: 130px;">Download Excel</a>
        <a href="/download_json" class="button">Download Json</a>
      </form>
    </div>
    
    
    <div class="container">  
      <div class="left-column">
          <div id="imagePreview"></div>
          <button id="closeImageBtn" style="display: none;">Close Image</button>
      </div>
      <div class="right-column">
        
        <div class="row">
          <div class="column empty-box">
              <!-- Empty box for the first row of the second column -->
          </div>
        </div>
      </div>
  </div>
    <script src="static/script.js"></script>
</body>
</html>
