<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entity Extractor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>

  <!-- Page Loader -->
  <div class="loader-wrapper" id="loader">
    <div class="loader">
      <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
        <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
      </svg>
    </div>
  </div>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="www.winvinaya.com"><img src="/static/WVI.png" alt="Logo" height="40"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: black !important;">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: black !important;">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: black !important;">Contact Us</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success">Request Demo</button>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Heading -->
  <div class="text-center mt-4">
    <h1 class="text-white" id="heading-color">Entity Extractor</h1>
  </div>

  <!-- Main Content -->
  <div class="container mt-5 glass-bg">
    <div class="row">
      <!-- First Row -->

        <div class="col-md-4 mb-3">
          <form id="uploadForm">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="files" id="fileInput" accept=".jpg, .jpeg" multiple>
                    <label class="custom-file-label" for="fileInput">Choose file</label>
                </div>
              </div>
              <div id="selectedImagesCount"></div>
              <!-- <button type="submit" id="processBtn" class="btn btn-primary btn-block mt-2">Process</button>
              <div id="selectedImagesCount"></div>    
          </form>    -->
        </div>

        <div class="col-md-4 mb-3">
          <button type="submit" id="processBtn" class="btn btn-primary btn-block">Process</button>     
          </form>
          <div class="progress mt-3" id="progressContainer" style="height: 15px; display: none; margin-top: 20px;">
            <div class="progress">
              <div id="progressBar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; background-color: #007bff;"></div>
            </div>
            <div class="progress-text" id="progressText" style="color: black !important;"></div>
          </div>
          <div id="successMessage" class="alert alert-success mt-3" role="alert" style="display: none;">
            Successfully extracted!
          </div>
        </div>

      <div class="col-md-4 mb-3">
        <button class="btn btn-success btn-block" onclick="downloadExcel()">Download Excel</button>
        <button class="btn btn-info btn-block mt-2" onclick="downloadJson()">Download JSON</button>
      </div>

      <!-- Second Row -->
      <div class="col-md-6">
        <h3 class="text-white" id="heading-color">File Preview</h3>
        <div id="imagePreviewCarousel" class="border p-3 bg-white text-dark dotted-border carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner"></div>
          <a class="carousel-control-prev" href="#imagePreviewCarousel" role="button" data-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black !important;"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#imagePreviewCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black !important;"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-white" id="heading-color">Extracted Data</h3>
        <div class="border p-3 bg-white text-dark dotted-border" id="invoiceData">Extracted Data Area</div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg-dark text-light text-center py-3 mt-5 footer" >
    <p>&copy; 2024 <a href="www.winvinaya.com">WinVinaya InfoSystems</a>. All rights reserved.</p>
  </footer>

  <script>

  var lastRequestId = ""

  // Hide loader after 1 seconds
  setTimeout(() => {
    document.getElementById('loader').style.display = 'none';
  }, 1000);

  document.getElementById('fileInput').addEventListener('change', function(event) {
    const files = event.target.files;
    const selectedImagesCount = document.getElementById('selectedImagesCount');
    selectedImagesCount.textContent = files.length + ' image(s) selected';
  });

  document.getElementById('fileInput').addEventListener('change', function(event) {
    const files = event.target.files;
    const imagePreviewCarousel = document.getElementById('imagePreviewCarousel');
    const carouselInner = imagePreviewCarousel.querySelector('.carousel-inner');
    const carouselControls = imagePreviewCarousel.querySelectorAll('.carousel-control');

    carouselInner.innerHTML = '';

    if (files.length <= 1) {
      carouselControls.forEach(control => {
        control.style.display = 'none';
      });
    } else {
      carouselControls.forEach(control => {
        control.style.display = 'block';
      });
    }

    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const reader = new FileReader();

      reader.onload = function(e) {

        const carouselItem = document.createElement('div');
        carouselItem.classList.add('carousel-item');

        const img = document.createElement('img');
        img.src = e.target.result;
        img.classList.add('d-block', 'w-100');

        carouselItem.appendChild(img);

        if (i === 0) {
          carouselItem.classList.add('active');
        }

        carouselInner.appendChild(carouselItem);
      };

      reader.readAsDataURL(file);
    }
  });

  document.getElementById('uploadForm').addEventListener('submit', async function(e) {
      e.preventDefault();

      const progressBar = document.getElementById('progressBar');
      const progressText = document.getElementById('progressText');
      progressBar.style.width = '0%';
      progressText.innerText = '0%';
      document.getElementById('progressContainer').style.display = 'block';
      document.getElementById('successMessage').style.display = 'none';

      var files = document.getElementById('fileInput').files;
      var formData = new FormData();

      let progress = 0;
      const interval = setInterval(function() {
        if (progress >= 100) {
          clearInterval(interval);
          successMessage.style.display = 'block';
          setTimeout(() => {
            successMessage.style.display = 'none';
          }, 5000);
          return;
        }
        progressBar.style.width = `${progress}%`;
        progressText.innerText = `${progress}%`;
        progress += 5;
      }, 100)

      for (var i = 0; i < files.length; i++) {
          var file = files[i];
          formData.append('files[]', file, file.name);
      }

      try {
        const response = await fetch('/process_invoice', {
            method: 'POST',
            body: formData
        });

        const responseData = await response.json();
        lastRequestId = responseData.requestId;
        const result = responseData.result;
        const invoiceDataDiv = document.getElementById('invoiceData');

        invoiceDataDiv.innerHTML = `<pre>${JSON.stringify(result, null, 2)}</pre>`;
      } catch (error) {
          console.error('Error:', error);
      }
      
      clearInterval(interval);
      progressBar.style.width = '100%';
      progressText.innerText = '100%';
      setTimeout(() => {
        document.getElementById('progressContainer').style.display = 'none';
      }, 1000);
  });

  async function downloadExcel() {
    try {
        const response = await fetch('/download_excel/' + lastRequestId);
        if (!response.ok) {
            throw new Error("HTTP error " + response.status);
        }
        const data = await response.blob();
        const url = window.URL.createObjectURL(data);
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', lastRequestId + '_extracted.xlsx');
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    } catch (error) {
        console.error('Error:', error);
    }
  }

  async function downloadJson() {
    try {
        const response = await fetch('/download_json/' + lastRequestId);
        if (!response.ok) {
            throw new Error("HTTP error " + response.status);
        }
        const data = await response.blob();
        const url = window.URL.createObjectURL(data);
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', lastRequestId + '_extracted.json');
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    } catch (error) {
        console.error('Error:', error);
    }
  }
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
